<div class="row">
	<div class="col-xs-3 sidebar">
		<% @categories.each do |category| %>
			<table class="table">
				<tr><%= link_to category.name, boards_path(category_id: category.id) %></tr>
			</table>
		<% end %>
	</div>

	<div class="col-xs-8 ">
		
	</div>

	<div class="col-xs-8 main-top">
		<% @boards.each do |board| %>
			<table class="table">
				<tr>
					<%= link_to board_path(board) do %>
						<% board.board_categories.each do |board_category| %>
						【<%= board_category.category.name %>】<% end %>
					<%= board.title %>
					[<%= board.user.name %>]
					<% end %>
				</tr>
			</table>
		<% end %>
	</div>
</div>