<div class="row">
	<div class="col-xs-4 sidebar">
		<h1>boards#new</h1>
		<p>Find me in app/views/home/top.html.erb</p>
	</div>

	<div class="col-xs-8 main-top">
		<div class="form-group">
		<%= form_with model: @board, local: true do |f| %>
			<%= f.label :スレッド名 %>
			<%= f.text_field :title %>
			
			<%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>

			<%= f.submit 'スレッド作成'%>
		</div>
		<% end %>


	</div>
	<div class="col-xs-8 main-bottom">
		<h3>最新のスレッド</h3>
	</div>
</div>