<!DOCTYPE html>
<html>
  <head>
    <title>BoardApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"data-toggle="collapse"data-target="#navbarEexample8">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">けいじばん</a>
          </div>
    
          <div class="collapse navbar-collapse" id="navbarEexample8">
            <ul class="nav navbar-nav">
              <% if user_signed_in? %>
                <li><%= link_to 'スレッド一覧', boards_path %></li>
                <li><%= link_to 'スレッド作成', new_board_path %></li>
                <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li><%= link_to 'スレッド一覧', boards_path %></li>
                <li><%= link_to 'ログイン', new_user_session_path %></li>
              <% end %>
            </ul>
            <% if user_signed_in? %>
              <p class="navbar-text navbar-right"><%= link_to user_path(current_user.id) do %> 
              <%= current_user.name %> さん<% end %></p>
            <% end %>
          </div>
        </div>
      </nav>
    </header>

    <div class="container">
        <%= form_tag boards_path, :method => 'get' do %>
        <div class="row search">
          <div class="form-group">
            <%= text_field_tag :search, params[:search], placeholder: "検索キーワード", class: "form-control", style: "width: auto; display: inline-block" %>
            <%= submit_tag "検索", :title => nil, class: "btn btn-default" %>
          </div>
        </div>
        <% end %>
      <%= yield %>
    </div>

    <footer>
      <p class="footer">けいじばん</p>
    </footer>
  </body>
</html>
